* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

:root {
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(322, 100%, 98%);
    --light-red: hsl(0, 100%, 63%);
    --dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #fff;
    color: hsl(192, 100%, 9%);
    font-size: 18px;
}

.container1 {
    background-image: url(images/bg-hero-desktop.svg);
    background-size: cover;
    background-color: rgb(245, 231, 234);
    padding: 40px 60px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px;
}

nav a {
    background-color: #fff;
    font-family: 'Open Sans';
    color: var(--dark-cyan);
    font-weight: 700;
    box-shadow: 0px 3px 10px #d6d6d6;
    padding: 0.30rem 1.5rem;
    border-radius: 1.5rem;
}
nav a:hover {
    color: var(--grayish-blue);
}

.class1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-top: 70px;
}

.left {
    max-width: 500px;
}
.left h1 {
    font-family:  "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 2em;
    margin-bottom: 20px;
}
.left p {
    margin-bottom: 30px;
    color: var(--grayish-blue);
    /* font-size: 0.8em; */
}

.get-btn {
    padding: 8px 30px;
    background-color: var(--pink);
    color: #fff;
    border-radius: 1.5rem;
    font-weight: 700;
}

.get-btn:hover {
    opacity: 0.8;
}

.image-right img {
    width: 100%;
    max-width: 700px;
}


/* -------------------- FEATURES SECTIONS -------------------- */
.feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 4rem;
    background-color: #fff;
    margin: 15px auto;
    width: 96%;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
   
}

.feature-3 {
    margin-bottom: -150px;
}

.feature-text {
    max-width: 500px;
}

.feature-text h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 2.2em;
    margin-bottom: 20px;
}

.feature-text p {
    color: var(--grayish-blue);
    line-height: 1.6;
}

.feature-image img {
    width: 100%;
    max-width: 450px;
}


/* -------------------- CALL TO ACTION -------------------- */
.cta {
    background-color: #fff;
    text-align: center;
    padding: 60px 20px;
    width: 700px;
    margin: 80px auto;
    border-radius: 30px;
    box-shadow: 0 0 25px rgba(0,0,0,0.1);
    position: relative;
    z-index: 10;
   
}

.cta h2 {
    font-family: "Poppins", sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 25px;
}

.cta {
    transform: translateY(150px); /* descend ou remonte selon la valeur */
}



/* -------------------- FOOTER -------------------- */
footer {
    display: flex;
    background-color: hsl(192, 100%, 9%);
    color: #fff;
    position: relative;
    height: 500px;

}

.footer-container {
    display: grid;
    grid-template-columns: 1.2fr 1fr 0.7fr 0.7fr 1fr;
    gap: 40px;
    width: 1200px;
    margin: auto;
    
}

.footer-logo img {
    width: 200px;
    height: 250px;
    filter: brightness(0) invert(1);
    position: relative;
    right: 20rem;
    top: 10%;
}

.footer-info {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.footer-info p {
    display: flex;
    gap: 20px;
    line-height: 1.6;
    font-size: 20px;
    position: relative;
    top: 10%;
    right: 18rem;

}

.footer-info p:nth-child(2) {
    margin-top: 20px;
}
.footer-info p:nth-child(3) {
    margin-top: 20px;
}

.footer-info i {
    font-size: 1.2em;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
}

.footer-links a {
    color: #fff;
    font-size: 1.3em;
    transition: 0.3s;
    position: relative;
    top: 10%;
    right: 12rem;
}

.footer-links a:hover {
    color: var(--pink);
    text-decoration: underline;
}

.footer-cerle {
    display: flex;
    gap: 15px;
    align-items: flex-start;
}

.footer-cerle a {
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 50%;
    font-size: 1.2em;
    transition: 0.3s;
    color: #fff;
    position: relative;
    top: 15%;
    right: 15rem;
}

.footer-cerle i:hover {
    color: var(--pink);
}

.copyright {
    font-size: 1em;
    position: relative;
    top: 120%;
    right: 10rem;
    width: 450%;
   
}





/* -------------------- RESPONSIVE -------------------- */

/* TABLETTE max 768px */
@media (max-width: 768px) {
    .global {
        overflow: hidden;
    }
    .container1 {
        padding: 30px;
        background-image: url("images/bg-hero-mobile.svg");
    }

    nav {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .logo {
        width: 250px;
        align-items: center;
    }

    .class1 {
        flex-direction: column;
        text-align: center;
    }

    .left h1 {
        font-size: 2em;
    }

    .get-btn {
        width: 75%;
        display: inline-block;
    }


    .feature {
        flex-direction: column-reverse;
        text-align: center;
        padding: 40px 30px;
    }

    .feature-text {
        max-width: 100%;
    }

    .feature-text h2 {
        font-size: 1.7em;
    }


    .feature-2 {
        flex-direction: column;
    }


    .feature-3 {
        flex-direction: column-reverse;
    }

    .cta h2 {
        font-size: 1.5em;
    }

}


/* =================== RESPONSIVE FOOTER 768px =================== */
@media (max-width: 768px) {

    footer {
        height: auto;
        padding: 60px 20px;
        
    }

    .footer-container {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    /* ---------- LOGO CORRIGÉ ---------- */
    .footer-logo img {
        width: 160px;      /* taille normale */
        height: auto;
        filter: brightness(0) invert(1);
        margin-top: 30px;
    }
    .footer-logo {
        position: relative;
        left: 5rem;
        
    }

    /* ---------- ANNULATION DES DECALLAGES ---------- */
    .footer-info p,
    .footer-links a,
    .footer-cerle a,
    .copyright {
        position: static !important;
        right: 0 !important;
        left: 0 !important;
        top: 0 !important;
    }

    /* ---------- INFORMATIONS ---------- */
    .footer-info {
        width: 100%;
        max-width: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .footer-info p {
        font-size: 16px;
        max-width: 90%;
        justify-content: center;
    }

    /* ---------- LIENS ---------- */
    .footer-links {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .footer-links a {
        font-size: 18px;
    }

    /* ---------- ICONES SOCIALES ---------- */
    .footer-cerle {
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    /* ---------- COPYRIGHT EN BAS ---------- */
    .copyright {
        font-size: 0.9em;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}


/* TABLETTE max 425px */
@media (max-width: 425px) {
    .container1 {
        padding: 30px;
        background-image: url("images/bg-hero-mobile.svg");
    }

    nav {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .logo {
        width: 250px;
        align-items: center;
    }

    .class1 {
        flex-direction: column;
        text-align: center;
    }

    .left h1 {
        font-size: 2em;
    }

    .get-btn {
        width: 75%;
        display: inline-block;
    }


    .feature {
        flex-direction: column-reverse;
        text-align: center;
        padding: 40px 30px;
    }

    .feature-text {
        max-width: 100%;
    }

    .feature-text h2 {
        font-size: 1.7em;
    }


    .feature-2 {
        flex-direction: column;
    }


    .feature-3 {
        flex-direction: column-reverse;
    }

    .cta h2 {
        font-size: 1.5em;
    }

    .cta {
        width: 85%;
    }

}

/* =================== RESPONSIVE FOOTER 768px =================== */
@media (max-width: 425px) {

    .global {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-container {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        gap: 35px;
        /* margin: 0 auto; */
    }

    /* ---------- LOGO CORRIGÉ ---------- */
    .footer-logo img {
        width: 160px;      /* taille normale */
        height: auto;
        filter: brightness(0) invert(1);
    }
    .footer-logo {
        margin-left: 70%;
        
    }

    /* ---------- ANNULATION DES DECALLAGES ---------- */
    .footer-info p,
    .footer-links a,
    .footer-cerle a,
    .copyright {
        position: static !important;
        right: 0 !important;
        left: 0 !important;
        top: 0 !important;
    }

    /* ---------- INFORMATIONS ---------- */
    .footer-info {
        width: 100%;
        max-width: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .footer-info p {
        font-size: 16px;
        max-width: 90%;
        justify-content: center;
    }

    /* ---------- LIENS ---------- */
    .footer-links {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .footer-links a {
        font-size: 18px;
    }

    /* ---------- ICONES SOCIALES ---------- */
    .footer-cerle {
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    /* ---------- COPYRIGHT EN BAS ---------- */
    .copyright {
        font-size: 0.9em;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}

@media (max-width: 375px) {
    .footer-logo {
        margin-left: 90%;
        
    }
}

@media (max-width: 320px) {
    .footer-logo {
        margin-left: 130%;
        
    }
}
